/* CSS by Matthew Yates */
/* Imported Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap");
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
  --Teal: #4ca7c0;
  --Purple: #484fb7;
  --Lavender: #6b8fe7;
  --Yellow: #e9bb57;
  --Pink: #d9526f;
  --Dark-gray: #1e1e1e;
  --White: #ffffff;
}
/* GLOBAL STYLES (mobile first/small) */
html {
  background-color: var(--Lavender);
  display: flex;
  justify-content: center;
}
body {
  max-width: 450px;
  background-color: var(--Purple);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2 {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--White);
}

h1 {
  font-size: 3em;
}

nav h2 {
  /* font-family: "Inter", sans-serif; */
  font-size: 1.5em;
  color: var(--Dark-gray);
  font-style: italic;
}

h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
  color: var(--Yellow);
}

h4 {
  font-size: 1.15em;
  color: var(--Purple);
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  color: var(--White);
}
header h1,
p {
  margin: 0.5em 0;
}

nav {
  background-color: var(--Yellow);
  text-align: center;
  padding: 1em;
  margin: 1em 0;
  font-weight: bold;
}

nav ul li {
  background-color: var(--White);
  padding: 1em;
  margin: 8px;
}

nav ul li a {
  text-decoration: none;
}
article h2 {
  font-weight: normal;
}

article h4 {
  font-weight: bold;
}
h2,
h3 {
  margin-left: 0.5em;
  font-weight: bold;
}
#Services {
  h2 {
    margin-bottom: 0.25em;
  }
}
#Services section > section {
  background-color: var(--White);
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
}

#Choose {
  background-color: var(--Pink);
  padding: 0.5em;
}

#Choose ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  margin: 1em;

  color: var(--Dark-gray);
}

#Choose ul > li {
  padding: 1em;
  border-radius: 0.5em;
  font-weight: bold;
  text-align: center;
}

#Choose ul > li:first-child {
  background-color: var(--Teal);
}

#Choose ul > li:nth-child(2) {
  background-color: var(--Lavender);
}

#Choose ul > li:nth-child(3) {
  background-color: var(--Yellow);
}

#Choose ul > li:last-child {
  background-color: var(--White);
}

#Prices {
  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

#Prices table {
  margin: 1em auto;
  background-color: var(--Yellow);
  border-collapse: separate;
  border-spacing: 0.15em;
}

th,
td {
  padding: 1em;
}

table th {
  font-weight: bold;
}

table td {
  background-color: var(--White);
}

#FirstStep {
  display: flex;
  flex-direction: column;

  background-color: var(--Pink);

  color: var(--White);
  padding: 1em;

  h2 {
    margin-left: 0em;
  }

  a {
    background-color: var(--White);
    width: 60%;
    align-self: center;
    padding: 1em;
    border-radius: 0.5em;

    text-align: center;
    text-decoration: none;
    color: var(--Dark-gray);

    box-shadow: 0.25em 0.2em 0.1em var(--Dark-gray);
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: var(--White);

  padding: 2em;

  a {
    color: var(--White);
    text-decoration: underline;
  }
}
